@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;700;900&display=swap');

:root {
  --tanteta-brown: #905000;
  --almost-white: #f0f0f0;
  --light-grey: #ccc;
  --mid-grey: #888;
  --dark-grey: #444;
  --very-dark-grey: #222;
  --almost-black: #111;

  --light-mode-thin-border: 2px solid var(--light-grey);
  --dark-mode-thin-border: 2px solid var(--dark-grey);

  --light-mode-hover-shaddow-1: 1px 2px 8px rgba(0, 0, 0, .1);
  --dark-mode-hover-shaddow-1: 1px 2px 8px rgba(255, 255, 255, .1)
}

* {
  /* font-family: 'Caveat', cursive; */
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

code {
  font-family: monospace;
}

.App {
  color: var(--dark-grey);
  background-color: var(--almost-white);
  min-height: 100vh;
}

/* GLOBAL HEADER */

.header-container {
  padding: 8px 5%;
  width: 90%;
  border-bottom: var(--light-mode-thin-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--almost-white);
  position: relative;
  z-index: 2;
}

.header-container:hover {
  box-shadow: var(--light-mode-hover-shaddow-1);
}

.header-logo {
  font-family: 'Caveat';
  font-size: 32px;
  font-weight: 700;
}

.header-icons-container {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 24px;
}

.header-icons__btn {
  background: none;
  border: none;
  color: var(--dark-grey);
  width: 35px;
  cursor: pointer;
}

.header-icons__btn-content {
  font-family: FontAwesome;
  font-size: 24px;
}

.nav-trigger-icon .header-icons__btn-content::before {
  content: "\f0c9";
  transition: all .5s ease-in-out;
}

.hidden-header {
  position: fixed;
  width: 100%;
  max-width: 300px;
  right: 0px;
  top: -100%;
  border-top: 3px solid var(--tanteta-brown);
  transition: all .5s ease-in-out;
  z-index: 1;
}


.nav-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 5%;
  background-color: var(--almost-white);
  border-bottom: var(--light-mode-thin-border);
  border-left: var(--light-mode-thin-border);
}


/* OVERRIDE HEADER STYLE WHEN HIDDEN MENU IS VISIBLE */

.visible .header-container {
  z-index: 1;
  transition-delay: .6s;
  transition-property: z-index;
}

.visible .hidden-header {
  top: 56px;
  /* transition: none; */
}

.visible .header-icons__btn {
  color: var(--tanteta-brown);
}

.visible .nav-trigger-icon .header-icons__btn-content::before {
  content: "\f00d";
  content: "\58";
}


/* HIDDEN MENU STYE */

.darkmode-toggle-container {
  display: flex;
  gap: 8px;
}

.darkmode-toggle__label {
  opacity: .5;
  cursor: pointer;
  transition: all .5s ease-in-out;
  display: inline-flex;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--light-grey);
}

.darkmode-toggle__label:hover {
  opacity: 1;
}

.darkmode-toggle-container input {
  /* display: none; */
  opacity: 0;
  position: absolute;
}

.darkmode-toggle-container input:checked+.darkmode-toggle__label {
  opacity: 1;
  background-color: var(--tanteta-brown);
}

.darkmode-toggle-container input:focus+.darkmode-toggle__label {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.darkmode-toggle-container input:checked+.darkmode-toggle__label img {
  filter: invert(1);
}

.darkmode-toggle__img-icon {
  width: 32px;
}




/* GLOBAL MAIN */

main {
  padding: 5%;
}

/* SERVICE CARDS */

.serice-card {
  border-radius: 8px;
  background-color: white;
}

.serice-card:hover {
  box-shadow: var(--light-mode-hover-shaddow-1);
}

.service-card__image img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  display: block;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.service-card__text {
  padding: 20px 20px 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  border-left: var(--light-mode-thin-border);
  border-right: var(--light-mode-thin-border);
  border-bottom: var(--light-mode-thin-border);
  border-radius: 0 0 8px 8px;
}

.service-card__start-price span {
  font-size: .85em;
  background-color: var(--dark-grey);
  color: #fff;
  padding: 2px 10px;
  display: inline-block;
  border-radius: 4px;
}

.service-card__start-price span::before {
  font-family: FontAwesome;
  content: "\f555" " ";
}

.service-card__category {
  font-size: .85em;
  font-weight: 700;
  color: var(--tanteta-brown);
}

.service-card__category a {
  color: var(--tanteta-brown);
  text-decoration: none;
  border-bottom: 1px dotted;
}

.service-card__category a:hover {
  border-bottom: 2px dotted;
}

.service-card__category::before {
  font-family: FontAwesome;
  content: "\f0e8" " ";
}

.service-card__cta {
  display: inline-flex;
  gap: 8px;
}

.cta-btn__primary {
  text-decoration: none;
  background-color: var(--tanteta-brown);
  border: 2px solid var(--tanteta-brown);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
}

.cta-btn__secondary {
  border: 2px solid var(--tanteta-brown);
  border-radius: 8px;
  padding: 8px 16px;
  color: var(--tanteta-brown);
  text-decoration: none;
  font-weight: 600;
}

.cta-btn__primary:hover {
  border-bottom: 3px solid black;
  padding-bottom: 7px;
}

.cta-btn__primary:active {
  transform: translateY(1px);
}



/* BOOK PAGE */

.book-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.book-question-dropdown-bar__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  /* min-height: 40px; */
  border: var(--light-mode-thin-border);
  background-color: white;
  color: inherit;
  cursor: pointer;
  width: -webkit-fill-available;
  font-size: initial;
  transition: border-radius 0s ease-in-out .5s;
}

.book-question-dropdown-bar__wrap.clicked {
  border-radius: 8px 8px 0 0;
  transition: border-radius 0s ease-in-out;
}

.book-question-dropdown-bar__wrap:hover {
  box-shadow: var(--light-mode-hover-shaddow-1);
}

.book-question-dropdown-bar__icon {
  /* font-size: 24px; */
  display: flex;
  justify-content: center;
}

.book-question-dropdown-bar__wrap:hover .book-question-dropdown-bar__icon {
  color: var(--tanteta-brown);
}

.book-question-dropdown-options {
  border: solid var(--light-grey);
  border-width: 0 2px;
  height: 00px;
  overflow: auto;
  background-color: white;
  transition: height .5s ease-in-out;
}

.book-question-dropdown-options.clicked {
  height: 240px;
  border: solid var(--light-grey);
  border-width: 0 2px 2px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.book-question-dropdown-option__wrap {
  border-bottom: 1px solid var(--light-grey);
}

.book-question-dropdown-option__wrap:hover {
  background-color: var(--almost-white);
}

.book-question-dropdown-option__wrap:last-child {
  border: none;
}

.book-question-dropdown-option__wrap input {
  display: none;
  position: absolute;
}

.book-question-dropdown-option__label-wrap {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
}

.book-question-dropdown-option__label-img {
  flex: 1;
}

.book-question-dropdown-option__label-text {
  flex: 4;
}

.book-question-dropdown-option__label-img img {
  aspect-ratio: 1;
  object-fit: cover;
  display: flex;
  max-height: 64px;
}

/* ---------- */

.book-details__wrap {
  background-color: white;
  border: var(--light-mode-thin-border);
  border-radius: 8px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.book-details-person {
  border: var(--light-mode-thin-border);
  border-radius: 8px;
}

.book-details-person__header {
  background-color: var(--almost-white);
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 16px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  cursor: pointer;
}

.book-details-person__header-icon button {
  border: none;
  padding: 0 8px 0 16px;
  font-size: initial;
  cursor: pointer;
  background-color: transparent;
}

.book-details-person__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;
}

.book-details-person__body {
  border-top: 2px solid var(--light-grey);
}

.book-details-person__item-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.book-details-person__item-label {
  flex: auto;
}

.book-details-person__item-controls {
  flex: 0 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-details-person__outfits-controls {
  border-radius: 8px;
  border: var(--light-mode-thin-border);
  background-color: var(--almost-white);
}

.book-details-person__outfits-controls span {
  background-color: white;
  flex: 1;
  text-align: center;
  border: solid var(--light-grey);
  border-width: 0 2px;
}

.book-details-person__outfits-controls button {
  flex: 1;
  font-size: initial;
  background-color: transparent;
  color: var(--dark-grey);
  border: none;
  cursor: pointer;
  padding: 0;
}

.book-details-person__outfits-controls button:active {
  transform: translateY(1px);
}

.book-details-person__makeup-controls input {
  /* display: none; */
  opacity: 0;
  position: absolute;
}

.book-details-person__makeup-controls input:focus+label {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.book-details-person__makeup-controls label {
  flex: 1;
  text-align: center;
  background-color: var(--almost-white);
}

.book-details-person__makeup-controls label:first-of-type {
  border-radius: 8px 0 0 8px;
  border: solid var(--light-grey);
  border-width: 2px 0 2px 2px;
}

.book-details-person__makeup-controls label:last-of-type {
  border-radius: 0 8px 8px 0;
  border: solid var(--light-grey);
  border-width: 2px 2px 2px 0;
}

.App .book-details-person__makeup-controls input:checked+label {
  background-color: var(--tanteta-brown);
  border: 2px solid var(--tanteta-brown);
  color: white;
}

.book-details__add-person-button {
  border: var(--light-mode-thin-border);
  border-radius: 8px;
  padding: 8px 16px;
  font-size: initial;
  cursor: pointer;
  background-color: var(--almost-white);
  color: var(--dark-grey);
}

.book-details-general {
  border-top: 2px solid var(--light-grey);
  padding-top: 8px;
}

.book-details-general__btn button {
  background-color: var(--tanteta-brown);
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: initial;
  cursor: pointer;
}

/* ---------- */

.book-calendar-and-time__wrap {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  background-color: white;
  border: var(--light-mode-thin-border);
  border-radius: 8px;
  padding: 14px;
  overflow: auto;
}

.book-calendar__wrap,
.book-timeslot__wrap {
  flex: 1 1 275px;
}

.book-calendar__wrap>div,
.book-timeslot__wrap>div {
  border: var(--light-mode-thin-border);
  border-radius: 8px;
}

.book-calendar-head__wrap,
.book-timeslot-head__wrap {
  display: flex;
  justify-content: space-between;
  background-color: var(--almost-white);
  border-bottom: 2px solid var(--light-grey);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 8px 0;
}

.book-timeslot-head__wrap {
  justify-content: center;
}

.book-calendar-head__wrap button {
  border: none;
  padding: 0 16px;
  font-size: initial;
  cursor: pointer;
  background-color: transparent;
}

.book-calendar-head__wrap button:not(:disabled):active {
  transform: translateY(1px);
}

.book-calendar-head__wrap button:disabled {
  color: var(--light-grey);
}

.book-calendar-weekdays__wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 8px;
  padding: 8px 0;
  margin: 0 8px;
  border-bottom: 1px solid var(--light-grey);
}

.book-calendar-weekday {
  font-size: 75%;
  font-weight: 700;
  flex: 1;
  text-align: center;
}

.book-calendar-days__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 8px;
  gap: 2px;
}

.book-timeslot-body__wrap {
  margin: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 8px;
}

.book-calendar-day__wrap input,
.book-timeslot-time input {
  opacity: 0;
  position: absolute;
}

.book-calendar-day__wrap label,
.book-timeslot-time label {
  display: flex;
  justify-content: center;
  aspect-ratio: 1.5;
  align-items: center;
  max-height: 35px;
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.book-calendar-day__wrap:not(.disabled):hover label,
.book-timeslot-time:not(.disabled):hover label {
  background-color: rgba(127, 127, 127, 0.1);
  cursor: pointer;
}

.App .book-calendar-day__wrap input:checked+label,
.App .book-timeslot-time input:checked+label {
  background-color: var(--tanteta-brown);
  color: white;
}

.book-calendar-day__wrap input:focus+label,
.book-timeslot-time input:focus+label {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.book-calendar-day__wrap.today label::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--dark-grey);
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
}

.book-calendar-day__wrap.disabled label {
  color: var(--light-grey);
}

.book-timeslot-time label {
  background-color: rgba(127, 127, 127, 0.05);
}


/* DARK MODE */

.App.dark-mode {
  background-color: var(--almost-black);
  color: var(--light-grey);
}

.dark-mode .header-container {
  border-bottom: var(--dark-mode-thin-border);
  background-color: var(--almost-black);
}

.dark-mode .header-icons__btn {
  color: var(--light-grey);
}

.dark-mode .visible .header-icons__btn {
  color: var(--tanteta-brown);
}

.dark-mode .nav-container {
  background-color: var(--almost-black);
  border-bottom: var(--dark-mode-thin-border);
  border-left: var(--dark-mode-thin-border);
}

.dark-mode .darkmode-toggle__label {
  opacity: .25;
}

.dark-mode .darkmode-toggle__label:hover {
  opacity: 1;
}

.dark-mode .serice-card {
  background-color: var(--very-dark-grey);
}

.dark-mode .serice-card:hover {
  box-shadow: 1px 2px 8px rgba(255, 255, 255, .1);
}

.dark-mode .service-card__text {
  border-left: var(--dark-mode-thin-border);
  border-right: var(--dark-mode-thin-border);
  border-bottom: var(--dark-mode-thin-border);
}

.dark-mode .service-card__title h3 {
  color: white;
}

.dark-mode .service-card__start-price span {
  color: var(--light-grey);
}

.dark-mode .cta-btn__secondary {
  color: var(--light-grey);
  border: 2px solid var(--light-grey);
}

.dark-mode .cta-btn__primary:hover {
  border-bottom: 3px solid white;
}


.dark-mode .book-question-dropdown-bar__wrap {
  border: var(--dark-mode-thin-border);
  background-color: var(--very-dark-grey);
}

.dark-mode .book-question-dropdown-bar__wrap:hover {
  box-shadow: var(--dark-mode-hover-shaddow-1);
}

.dark-mode .book-question-dropdown-option__wrap:last-child {
  border: none;
}

.dark-mode .book-question-dropdown-options {
  background-color: var(--very-dark-grey);
  border: solid var(--dark-grey);
  border-width: 0 2px;
}

.dark-mode .book-question-dropdown-options.clicked {
  height: 240px;
  border: solid var(--dark-grey);
  border-width: 0 2px 2px;
}

.dark-mode .book-question-dropdown-option__wrap {
  border-bottom: 1px solid var(--dark-grey);
}

.dark-mode .book-question-dropdown-option__wrap:hover {
  background-color: var(--almost-black);
}

.dark-mode .book-details__wrap {
  background-color: var(--very-dark-grey);
  border: var(--dark-mode-thin-border);
}

.dark-mode .book-details-person {
  border: var(--dark-mode-thin-border);
}

.dark-mode .book-details-person__header {
  background-color: var(--almost-black);
}

.dark-mode .book-details-person__header-icon button {
  color: var(--light-grey);
}

.dark-mode .book-details-person__body {
  border-top: 2px solid var(--dark-grey);
}

.dark-mode .book-details-general {
  border-top: 2px solid var(--dark-grey);
}

.dark-mode .book-details-person__outfits-controls {
  border: var(--dark-mode-thin-border);
  background-color: var(--almost-black);
}

.dark-mode .book-details-person__outfits-controls button {
  color: var(--light-grey);
}

.dark-mode .book-details-person__outfits-controls span {
  border: solid var(--dark-grey);
  border-width: 0 2px;
  background-color: var(--very-dark-grey);
}

.dark-mode .book-details-person__makeup-controls label {
  background-color: var(--almost-black);
}

.dark-mode .book-details-person__makeup-controls label:first-of-type {
  border: solid var(--dark-grey);
  border-width: 2px 0 2px 2px;
}

.dark-mode .book-details-person__makeup-controls label:last-of-type {
  border: solid var(--dark-grey);
  border-width: 2px 2px 2px 0;
}

.dark-mode .book-details__add-person-button {
  background-color: var(--almost-black);
  border: var(--dark-mode-thin-border);
  color: var(--light-grey);
}

.dark-mode .book-calendar-and-time__wrap {
  background-color: var(--very-dark-grey);
  border: var(--dark-mode-thin-border);
}

.dark-mode .book-calendar__wrap>div {
  border: var(--dark-mode-thin-border);
}

.dark-mode .book-calendar-head__wrap {
  background-color: var(--almost-black);
  border-bottom: 2px solid var(--dark-grey);
}

.dark-mode .book-calendar-head__wrap button {
  color: var(--light-grey);
}

.dark-mode .book-calendar-head__wrap button:disabled {
  color: var(--dark-grey);
}

.dark-mode .book-calendar-weekdays__wrap {
  border-bottom: 1px solid var(--dark-grey);
}

.dark-mode .book-calendar-day__wrap.disabled label {
  color: var(--dark-grey);
}

.dark-mode .book-calendar-day__wrap.today label::before {
  background-color: var(--light-grey);
}

.dark-mode .book-timeslot__wrap>div {
  border: var(--dark-mode-thin-border);
}

.dark-mode .book-timeslot-head__wrap {
  background-color: var(--almost-black);
  border-bottom: 2px solid var(--dark-grey);
}