@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700;900&display=swap');

:root {
  --tanteta-brown: #905000;
  --almost-white: #f0f0f0;
  --light-grey: #ccc;
  --mid-grey: #888;
  --dark-grey: #444;
  --very-dark-grey: #222;
  --almost-black: #111;

  --light-mode-thin-border: 2px solid var(--light-grey);
  --dark-mode-thin-border: 2px solid var(--dark-grey);

  --light-mode-hover-shaddow-1: 1px 2px 8px rgba(0, 0, 0, .1);
  --dark-mode-hover-shaddow-1: 1px 2px 8px rgba(255, 255, 255, .1)
}

* {
  font-family: 'Caveat', cursive;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.App {
  color: var(--dark-grey);
  background-color: var(--almost-white);
  min-height: 100vh;
}

/* GLOBAL HEADER */

.header-container {
  padding: 8px 5%;
  width: 90%;
  border-bottom: var(--light-mode-thin-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--almost-white);
  position: fixed;
  z-index: 1;
}

.header-container:hover {
  box-shadow: var(--light-mode-hover-shaddow-1);
}

.header-logo {
  font-family: 'Caveat';
  font-size: 32px;
  font-weight: 700;
}

.header-icons-container {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 24px;
}

.header-icons__btn {
  background: none;
  border: none;
  color: var(--dark-grey);
  width: 35px;
  cursor: pointer;
}

.header-icons__btn-content {
  font-family: FontAwesome;
  font-size: 24px;
}

.nav-trigger-icon .header-icons__btn-content::before {
  content: "\f0c9";
  transition: all .5s ease-in-out;
}

.hidden-header {
  position: fixed;
  width: 100%;
  max-width: 300px;
  right: 0px;
  top: -100%;
  border-top: 3px solid var(--tanteta-brown);
  transition: all .5s ease-in-out;
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 5%;
  background-color: var(--almost-white);
}


/* OVERRIDE HEADER STYLE WHEN HIDDEN MENU IS VISIBLE */

.visible .header-container {
  z-index: 0;
  transition-delay: .6s;
}

.visible .hidden-header {
  top: 56px;
  /* transition: none; */
}

.visible .header-icons__btn {
  color: var(--tanteta-brown);
}

.visible .nav-trigger-icon .header-icons__btn-content::before {
  content: "\f00d";
  content: "\58";
}


/* HIDDEN MENU STYE */

.darkmode-toggle-container {
  display: flex;
  gap: 8px;
}

.darkmode-toggle__label {
  opacity: .5;
  cursor: pointer;
  transition: all .5s ease-in-out;
  display: inline-flex;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--light-grey);
}

.darkmode-toggle__label:hover {
  opacity: 1;
}

.darkmode-toggle-container input {
  display: none;
}

.darkmode-toggle-container input:checked+.darkmode-toggle__label {
  opacity: 1;
  background-color: var(--tanteta-brown);
}

.darkmode-toggle-container input:checked+.darkmode-toggle__label img {
  filter: invert(1);
}

.darkmode-toggle__img-icon {
  width: 32px;
}




/* GLOBAL MAIN */

main {
  padding: 60px 5%;
}

/* SERVICE CARDS */

.serice-card {
  border-radius: 8px;
  background-color: white;
}

.serice-card:hover {
  box-shadow: var(--light-mode-hover-shaddow-1);
}

.service-card__image img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  display: block;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.service-card__text {
  padding: 20px 20px 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  border-left: var(--light-mode-thin-border);
  border-right: var(--light-mode-thin-border);
  border-bottom: var(--light-mode-thin-border);
  border-radius: 0 0 8px 8px;
}

.service-card__start-price span {
  font-size: .85em;
  background-color: var(--dark-grey);
  color: #fff;
  padding: 2px 10px;
  display: inline-block;
  border-radius: 4px;
}

.service-card__start-price span::before {
  font-family: FontAwesome;
  content: "\f555" " ";
}

.service-card__category {
  font-size: .85em;
  font-weight: 700;
  color: var(--tanteta-brown);
}

.service-card__category a {
  color: var(--tanteta-brown);
  text-decoration: none;
  border-bottom: 1px dotted;
}

.service-card__category a:hover {
  border-bottom: 2px dotted;
}

.service-card__category::before {
  font-family: FontAwesome;
  content: "\f0e8" " ";
}

.service-card__cta {
  display: inline-flex;
  gap: 8px;
}

.cta-btn__primary {
  text-decoration: none;
  background-color: var(--tanteta-brown);
  border: 2px solid var(--tanteta-brown);
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  display: inline-block;
}

.cta-btn__secondary {
  border: 2px solid var(--tanteta-brown);
  border-radius: 6px;
  padding: 8px 16px;
  color: var(--tanteta-brown);
  text-decoration: none;
  font-weight: 600;
}

.cta-btn__primary:hover {
  border-bottom: 3px solid black;
  padding-bottom: 7px;
}

.cta-btn__primary:active {
  transform: translateY(1px);
}



/* BOOK PAGE */


.book-category__dropdown-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  min-height: 40px;
  border: var(--light-mode-thin-border);
  background-color: white;
  cursor: pointer;
}

.book-category__dropdown-bar:hover {
  box-shadow: var(--light-mode-hover-shaddow-1);
}

.book-category__dropdown-bar-text {
  flex: 4;
}

.book-category__dropdown-bar-icon {
  font-size: 24px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.book-category__dropdown-bar:hover .book-category__dropdown-bar-icon {
  color: var(--tanteta-brown);
}

.book-category__dropdown-options {
  border: solid var(--light-grey);
  border-width: 0 2px 2px;
  height: 00px;
  overflow: auto;
  background-color: white;
  transition: all .5s ease-in-out;
}

.book-category__dropdown-options.clicked {
  height: 240px;
}

.book-category__container {
  border-bottom: 1px solid var(--light-grey);
}

.book-category__container:hover {
  background-color: var(--almost-white);
}

.book-category__container input {
  display: none;
  position: absolute;
}

.book-category__label-container {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.book-category__option-image {
  flex: 1;
}

.book-category__option-text {
  flex: 4;
}

.book-category__option-image img {
  aspect-ratio: 1;
  object-fit: cover;
  display: flex;
}





/* DARK MODE */

.App.dark-mode {
  background-color: var(--almost-black);
  color: var(--light-grey);
}

.dark-mode .header-container {
  border-bottom: var(--dark-mode-thin-border);
  background-color: var(--almost-black);
}

.dark-mode .header-icons__btn {
  color: var(--light-grey);
}

.dark-mode .visible .header-icons__btn {
  color: var(--tanteta-brown);
}

.dark-mode .nav-container {
  background-color: var(--almost-black);
  border-bottom: var(--dark-mode-thin-border);
}

.dark-mode .darkmode-toggle__label {
  opacity: .25;
}

.dark-mode .darkmode-toggle__label:hover {
  opacity: 1;
}

.dark-mode .serice-card {
  background-color: var(--very-dark-grey);
}

.dark-mode .serice-card:hover {
  box-shadow: 1px 2px 8px rgba(255, 255, 255, .1);
}

.dark-mode .service-card__text {
  border-left: var(--dark-mode-thin-border);
  border-right: var(--dark-mode-thin-border);
  border-bottom: var(--dark-mode-thin-border);
}

.dark-mode .service-card__title h3 {
  color: white;
}

.dark-mode .service-card__start-price span {
  color: var(--light-grey);
}

.dark-mode .cta-btn__secondary {
  color: var(--light-grey);
  border: 2px solid var(--light-grey);
}

.dark-mode .cta-btn__primary:hover {
  border-bottom: 3px solid white;
}


.dark-mode .book-category__dropdown-bar {
  border: var(--dark-mode-thin-border);
  background-color: var(--very-dark-grey);
}

.dark-mode .book-category__dropdown-bar:hover {
  box-shadow: var(--dark-mode-hover-shaddow-1);
}

.dark-mode .book-category__dropdown-options {
  background-color: var(--very-dark-grey);
  border: solid var(--dark-grey);
  border-width: 0 2px 2px;
}

.dark-mode .book-category__container {
  border-bottom: 1px solid var(--dark-grey);
}

.dark-mode .book-category__container:hover {
  background-color: var(--almost-black);
}